a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chip {
    font-weight: 300;
    font-size: 0.9rem;
    border-radius: 4rem;
    width: max-content;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgb(var(--text-color));
    display: flex;
    align-items: center;
    gap: 0.25rem;
    /* display: 'inline-flex', alignItems: 'center', gap: '0.25rem' */
}

.chip svg {
    width: 1rem;
}

.text-input {
    all: unset;
    border: 1px solid rgb(var(--border-color));
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: var(--border-radius);
    font-size: inherit;
    background-color: rgba(var(--text-color), 0.05);
    transition: border-color var(--transition-s);
}

.text-input::placeholder {
    color: rgb(var(--border-color));
}

.text-input:hover,
.text-input:focus {
    border-color: rgb(var(--primary-accent));
}

.button-solid,
.button-outline {
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: var(--border-radius);
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-s), color var(--transition-s), box-shadow var(--transition-s);
    position: relative;
}

/* Solid Button */
.button-solid {
    outline: none;
    border: none;
    background-color: rgb(var(--primary-accent));
    color: var(--text-color);
}

.button-solid:hover {
    box-shadow: rgba(var(--primary-accent), 0.3) 0 0 1.5rem;
}

.button-solid:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(var(--text-color), 0.4) 0 2px 3px inset;
    border-radius: var(--border-radius);
}

/* Outline Button */
.button-outline {
    background-color: transparent;
    color: rgb(var(--text-color));
    border: 2px solid rgb(var(--text-color));
}

.button-outline:hover {
    background-color: rgba(var(--primary-accent), 0.1);
    box-shadow: rgba(var(--primary-accent), 0.3) 0 0 1.5rem;
}