.bubbles {
    position: absolute;
    height: 1000px;
    width: 100vw;
    pointer-events: none;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    width: 50%;
    height: 50%;
    position: absolute;
    background: rgb(var(--secondary-accent));
    z-index: -999;
    filter: blur(20px);
    border-radius: 6000px;
    opacity: 0.1;
}