.bubbles {
    position: absolute;
    height: 4000px;
    width: 100vw;
    overflow-x: hidden;
}

.bubble {
    width: 100%;
    height: 200%;
    position: absolute;
    background: rgb(var(--secondary-accent));
    z-index: -999;
    filter: blur(2000px);
    border-radius: 6000px;
    opacity: 0.1;
}